

.checkout {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 20px;
    height: 1000px;
    /* flex-wrap: wrap; */
}
.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title {
    border-bottom: 1px solid rgb(179, 177, 177);
    margin-right: 10px;
    padding: 10px;
}


/* 
.checkout__left {
    margin: 15px;
    display: inline-block;
    max-width: 800px;
}
.checkout__ad {
    width: 100%;
    border: 5px black solid;
}
.checkout__subtotal {
    
    display: inline-block;
    align-items: center;
    justify-content: center;

    position: relative;
    max-width: 300px;
    min-height: 100px;
    background-color: rgb(223, 221, 221);
    padding: 15px;
    margin: 5px;
} */